<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  
      <header style="background-color: #20232a; color: white; padding: 20px 0; text-align: center;">
        <!-- <img src="/images/black-sabbath_henry.svg" alt="Black Sabbath" style="width: 50px; height: auto; position: absolute; top: 0; left: 0;"> -->


      
  
        <nav>
            <ul style="list-style-type: none; display: flex; justify-content: space-around; padding: 10px;">
                <li><a href="/">Home</a></li>
                <li><a href="/sidhu">Sidhu Moosewala</a></li>
                <li><a href="/karan">Karan Aujla</a></li>
                <li><a href="/navaan">Navaan Sandhu</a></li>
                <li><a href="/jordan">Jordan Sandhu</a></li>
            </ul>
        </nav>
    </header>
    <main style="text-align: center; padding: 20px;">
        <h1><%= title %></h1>
        <p>Welcome to SHARMA RECORDZ&#127926;</p>
      
    </main>
    <center>
      <img src="/images/black-sabbath_henry.svg" alt="Black Sabbath" style="width: 500px; height: 400px;">
    </center>
</body>
</html>

