<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordan Sandhu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1>Jordan Sandhu</h1>
        <p>Jordan Sandhu, with his charismatic voice and engaging stage presence, has won over fans across the globe. Known for his versatility, Jordan's music spans a range of styles, from upbeat bhangra to heartfelt ballads. His ability to connect with the audience through his music and lyrics has made him a beloved figure in the Punjabi music scene. Jordan continues to inspire with his dedication to his craft, and his journey reflects his passion for music and culture.</p>
    </div>

   <br>
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qeN5PsRWLy4?si=2NhwzTgduSGcEbD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </center>
    

</body>
</html>
