<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karan Aujla</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1>Karan Aujla</h1>
        <p>Karan Aujla is a name synonymous with the contemporary Punjabi music scene, known for his deep, resonant voice and impactful lyrics. Emerging as a significant figure in the industry, Aujla has contributed numerous hits that blend traditional Punjabi themes with urban melodies. His music often explores themes of love, social issues, and youth culture, striking a chord with listeners around the globe. Beyond his musical talents, Karan is also recognized for his philanthropic efforts and active engagement with his fans.</p>
    </div>
    <br>
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vTGALqE4o_U?si=fAKc1acV_41Eugnm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </center>
</body>
</html>
