<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navaan Sandhu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1>Navaan Sandhu</h1>
        <p>Navaan Sandhu has rapidly emerged as a fresh face in Punjabi music, captivating audiences with his melodious voice and dynamic performances. His songs, rich with lyrical depth and musical innovation, reflect a new era of Punjabi music that resonates with the younger generation. Navaan's ability to seamlessly blend traditional Punjabi music elements with contemporary sounds has earned him a distinct place in the music industry, marking him as a rising star to watch.</p>
    </div>
    <br>
    
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4LBLRJcP2B4?si=-fmVBHkfER3O1gK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </center>
</body>
</html>
