<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidhu Moosewala</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/header') %>

    
    <div class="container">
        <h1>Sidhu Moosewala</h1>
        <p>Sidhu Moosewala, born as Shubhdeep Singh Sidhu, was a prominent figure in Punjabi music, renowned for his groundbreaking contributions that bridged traditional Punjabi sounds with contemporary urban narratives. His music, characterized by bold lyrics and unique rhythms, resonated with a global audience, making him a beloved artist not only in India but worldwide. Sidhu's legacy extends beyond his music; he is remembered for his philanthropy, influence on Punjabi youth, and efforts to preserve Punjabi cultural heritage. His untimely demise in 2022 left a void in the music industry and among his fans, but his songs continue to inspire and entertain, ensuring his place in the annals of music history.</p>
    </div>
    <br>

<center>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/udJwUrKGuAI?si=jBWwvCwniX7E_ogV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</center>
<br>

<marquee style="font-size:24px; color: black;">⚰️ REST IN POWER LEGEND ⚰️</marquee>


</body>
</html>
